[submodule "plugins/cursor/skills"]
	path = plugins/cursor/skills
	url = https://github.com/kong/volcano-skills.git
[submodule "plugins/claude-code/skills"]
	path = plugins/claude-code/skills
	url = https://github.com/kong/volcano-skills.git
